<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 footer">Copyright &copy; 2023 All rights reserved. | This template is made by Wolfler Guzzo Ferreira</span>
        </div>

        <ul class="nav sm-icons mr-0">
            <li class="nav-item"><a class="nav-link" href="https://github.com/wolflergf"><i
                    class="fab fa-github"></i></a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="https://www.linkedin.com/in/wolfler-guzzo-ferreira-9976a466/"><i
                    class="fab fa-linkedin"></i></a></li>
        </ul>
    </footer>
</div>
