<div class="container hero col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img id="hero" src="static/img/hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                 width="500"
                 height="300" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">I'm Wolfler Guzzo Ferreira</h1>
            <p class="lead">I'm a huge programming enthusiast and proficient in the Python language in which I develop
                my projects. So if you want to develop a web application or desktop application, automate a task,
                develop a desktop/mobile game, or any other activity that requires programming, I'm available to help
                :D. I look forward to starting my professional experience using my current skills and developing them.
                I am open to learning new things and willing to work collaboratively.</p>
            <div class="hero-btn">
                <a href="mailto: wolflergf@gmail.com" class="btn">Contact</a>
            </div>
        </div>
    </div>
</div>