{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}



<div class="container information">
    <div class="card p-3">
        <figure class="p-3 mb-0">
            <blockquote class="blockquote">
                <p>The code snippet represents a Flask route that dynamically fetches news articles using the NewsAPI
                    and renders them on a webpage.<br>
                    It utilizes Flask, Jinja2, and the requests library for making API
                    requests.
                </p>
                <p>
                    The /news route function performs the following steps:
                </p>
                <p>
                    Defines the NewsAPI endpoint, API key, and search keyword.<br>
                    Sets up parameters for the API request.<br>
                    Sends a GET request to the NewsAPI endpoint with the specified parameters.<br>
                    Extracts the articles from the API response.<br>
                    Selects the first four articles.<br>
                    Renders the "news.html" template, passing the selected articles to be displayed.<br>
                    Overall, the code fetches news articles based on the provided keyword, and displays them on the
                    webpage using Flask and Jinja2 templating.
                </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-muted">
                Created by <cite title="Source Title">Wolfler Guzzo Ferreira</cite>
            </figcaption>
        </figure>
    </div>
</div>
<div class="blog">
    <div class="section-header text-center">
        <h2>Latest Articles</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for i in range(0, 4) %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ all_articles[i]["title"] }}</h5>
                    <p class="card-text">{{ all_articles[i]["author"]}}</p>
                    <p class="card-text">{{ all_articles[i]["publishedAt"] }}</p>
                    <a href="{{ all_articles[i]['url'] }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}